:root {
  --white: #fff;
  --blue: #1e8bf1;
  --orange: #f1991e;
  --light-gray: #c5c9d1;
  --gray: #95989e;
}

a {
  color: var(--blue);
  text-decoration: none;
}

body {
  font-family: sans-serif;
  text-align: center;
}

button,
#input-button,
.input-field {
  margin: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
}

button,
#input-button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 2px;
}

button {
}

#input-button {
}

.input-field {
  cursor: text;
}

.clear-button {
}

.clear-button:hover,
.delete:hover {
  background-color: var(--orange);
}

.complete {
  text-decoration: line-through;
  color: var(--gray);
}

.todo-body {
  background-color: var(--white);
  border-radius: 3px;
  box-shadow: 10px 5px 5px var(--light-gray);
}

.todo-text {
  padding: 1em 0em 0em 0.35em;
}

.logo {
  height: 32px;
  margin: 1.25em 0 0 0;
}
